<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":2,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":2,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":2,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":2,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1}]')
});
</script>

<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pingdom-status-907714" data-view="Pingdomstatus" data-title="Platform Status"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pingdom-uptime-907714" data-view="Pingdomuptime" data-title="Uptime"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="engagement" data-view="Rickshawgraph" data-min="45" data-title="Engagement Rate (yesterday)" data-colors="#dd0000"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="engagement-number" data-view="Number" data-min="45" data-title="Engagement" data-colors="#dd0000"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="rating" data-view="Rickshawgraph" data-min="60" data-title="Texter rating" data-colors="#dd0000"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rating-number" data-view="Number" data-min="60" data-title="Rating" data-colors="#dd0000"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="count" data-view="Rickshawgraph" data-min="60" data-title="Conversations" data-colors="#dd0000"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="count-number" data-view="Number" data-title="Conversations"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="new-texters" data-view="Rickshawgraph" data-min="60" data-title="New Texters" data-colors="#dd0000"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="new-texters-number" data-view="Number" data-min="60" data-title="New Texters" data-colors="#dd0000"></div>
    </li>


  </ul>
</div>
