<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pingdom-status-907714" data-view="Pingdomstatus" data-title="Platform Status"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pingdom-uptime-907714" data-view="Pingdomuptime" data-title="Uptime"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="engagement" data-view="Rickshawgraph" data-min="45" data-title="Engagement Rate (yesterday)" data-colors="#dd0000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="rating" data-view="Rickshawgraph" data-min="60" data-title="Texter rating" data-colors="#dd0000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="count" data-view="Rickshawgraph" data-min="60" data-title="Conversation Count" data-colors="#dd0000"></div>
    </li>
  </ul>
</div>
